body{
    background: rgba(0,0,0,0.8);
}

button:focus{
    outline:none;
    border:none;
    box-shadow: none;
}

a {
    color:white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

/* vvvv login.html vvvv */

.logInOuter{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logInForm{
    /* vertical-align: middle;
    display: inline-block; */
    color:white;
    font-size: 30px;
}

.loginButton{
    color:white;
    font-size:18px;
}

.loginButton input {
    width:100%;
    font-size:20px;
    color:white;
    margin-top: 30px;
    border-radius:20px;
    outline: none;
    border:none;
    background: #66C45C;
}

.loginButton :hover{
    background: rgb(64, 122, 57);
}

/* vvvv main.html vvvv */
.outerFrame{
    width:100%;
}

.optionButtonOuter {
    width:100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    position: absolute;
    top:15px;

}

.optionButton {
    width:100%;
    padding: 30px;
    background: rgb(58, 95, 163);
    border-radius: 20px;
    border: none;
    color:white;
    font-size: 30px;
}

.timerOuter{
    position: relative;
    
}

.timer{
    width:100%;
    height:500px;
    position: absolute;
    top: 190px;
    text-align: center; 
}

.timerPosition{
    display: inline-block;
    vertical-align: middle;
    color:white;
    font-size:300px;
}

.startButton{
    position: absolute;
    bottom:60px;
    right:60px;
    background: red;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    border:none;
    width:250px;
    height:250px;
}

.resetButton{
    position: absolute;
    bottom:60px;
    right:350px;
    background: rgb(136, 212, 129);
    color: white;
    font-size: 50px;
    border-radius: 50%;
    border:none;
    width:200px;
    height:200px;
}

/* shop.html */

.headingingOuter{
    width:100%;
    margin: 20px 0;
    position: absolute;
    top:15px;
}

.headingContainer{
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

.title{
    color:white;
    font-size: 30px;
}

.giftOuter{
    position: relative;
    margin: 0 20px;  
}

.giftContainer{
    width:100%;
    height:100%;
    position: absolute;
    top: 190px;
}

.giftRow{
    display: flex;
    justify-content: space-evenly;
}

.itemEach{
    width:100%;
    background:white;
    padding:20px;
}

.itemPic{
    background: orange;
    height:300px;
    width:100%;
}

.returnButton{
    width: 100%;
    font-size: 50px;
    background: #CE46A5;
    color:white;
    border-radius: 20px;
    border: none;
    padding:20px;
}