.flexBox {
    display:flex;
    justify-content: space-between;
    width:100%;
    background: none;
}

.topRightButton{
    align-self: flex-end;
}

button:focus{
    outline:none;
    border:none;
    box-shadow: none;
}

a {
    color:white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

.topBar{
    display:flex;
    justify-content:space-between;
    backface-visibility: hidden;
    width:100%;
    position: absolute;
    top: .5%;
    z-index: 1;
}

.topBar > div {
    padding:5 0 0 15;
}

.topNavbar{
    float:right;
    backface-visibility: hidden;
}

.menuList{
    font-size:20px;
    border-radius: 10px;
    padding: 0 20px;
}

.menuList > button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 20px;
    padding:0 30px;
    font-size:15px;
    color:white;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500
}

.menuList > button:hover{
    background-color:#2CACD1;
    border:2px solid #2CACD1;
}

#home{
    width: 100vw;
    position: relative;
    z-index: 0;
}

.topContent{
    min-height:100vh;
    border-color:white;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, #09203f 0%, #001022 100%);
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background-image: linear-gradient(160deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%); */
}

.orbitContainer{
    position: absolute;
    width:100%;
    min-height:100vh;
    right: -40%;
    top: -42%;
}

.orbit {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    opacity: .2;
}

@-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .orbitSvg{
      width:130%;
      height:130%;
  }

  .orbitIcon {
      position: absolute;
      top: 32%;
      right: 20%;
  }

  .brain {
    color:white;
    width:50px;
    height:50px;
}

.topContentBox{
    position: absolute;
    left:15%;
    bottom:15%;
}

.topContentBoxText h1 {
    color:#fff;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
}

.topContentBoxText button {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
}

.topButton {
    border-radius: 24px;
    background-color: #2CACD1;
    font-size: 20px;
    border:none;
    color: white;
    padding:0 65px;
    line-height: 40px;
}

.topButton:hover{
    background-color: #2C66AB;
}

.universityOuter{
    margin:  0;
    padding: 200 0;
    max-width: 2000px;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    

}

.universityFrame{
    display: flex;
    justify-content: flex-start;
}

.universityContent{
    padding:30px;
    width:40%;
    margin: 100 0;
}

.universityContent > h1 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
}

.universityContent > button {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
}

.universityBadge{
    padding:30px;
    width:60%;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.universityBadge > div{
    width:33.33%;
}

.universityBadge > div{
    display:block;
    margin: 50 auto;
  }

.cubadge {
    animation-name: cubadge;
    animation-duration: 12s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: absolute;
}

@-webkit-keyframes cubadge {
    0%   {top:0px;}
    
    50%  {top:30px;}
    
    100% {top:0px; }
}

.hkubadge {
    animation-name: hkubadge;
    animation-duration: 7s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: absolute;
}

@-webkit-keyframes hkubadge {
    0%   {top:0px;}
    
    50%  {top:20px;}
    
    100% {top:0px; }
}

.ustbadge {
    animation-name: cubadge;
    animation-duration: 12s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: absolute;
}

@-webkit-keyframes ustbadge {
    0%   {top:0px;}
    
    50%  {top:30px;}
    
    100% {top:0px; }
}

.timerOuter{
    width: 100%;
    margin:50 0;
}

.noMargin{
    margin:0;
}

.dse{
   padding:250 0 40px;
   font-size:50px;
   display: table;
   text-align: center;
}

.dse > h1 {
    font-size:100px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
}

.ending{
    padding:100px;
    background-image: linear-gradient(0deg, #688D96 20%, #2580B3 100%);
    /* background-image: linear-gradient(180deg, #FFFEFF 0%, #D7FFFE 100%); */
}

.copyright {
    color:white;
    size:16px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500

}

.contact{
    color:white;
    font-size:16px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500
}

.contact i {
    font-size:30px;
    padding:0 20 0 0px;
}