a {
    color:white;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.topBar{
    display:flex;
    justify-content:space-between;
    backface-visibility: hidden;
    width:100%;
    z-index: 1;
    background: #2E4AA3;
    height: 64px;
}

button:focus{
    outline:none;
    border:none;
    box-shadow: none;
}

input:focus{
    outline:none;
    border:none;
    box-shadow: none;
}

.topBar > div {
    padding:5 0 0 15;
}

.topNavbar{
    padding:15px;
}

.menuList{
    font-size:20px;
    border-radius: 10px;
    padding: 0 20px;
}

.menuList > button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 20px;
    padding:0 30px;
    font-size:15px;
    color:white;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500
}

.menuList > button:hover{
    background-color:#2CACD1;
    border:2px solid #2CACD1;
}

.noBorder{
    border: none;
}

.caseOuter{
    width:100%;
}

.content{
    font-size: 14px;
    width:100%;
    margin:50 0 50 0;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500
}

.caseBoxHeader{
    background: #2E4AA3;
    display:flex;
    justify-content: flex-start;
    margin-bottom:5px;
}

.signPlus{
    color:white;
}

.eachCase{
    padding:12 20;
    display:table;
}

.eachCase > p {
    font-size:15px;
    color:white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500
}

.completedButton > input {
    background-color: transparent;
    border:2px solid #2E4AA3;
    border-radius: 20px;
    width:150px;
    font-size:15px;
    color:black;
    margin:20px 20 0 0;
}

.completedButton > input:hover{
    background-color:#2CACD1;
    border:2px solid #2CACD1;
    color:white;
}